{% extends "base.html" %}

{% block title %}
    Date Picker ❤️
{% endblock %}

{% block page_title %}
    Pick the dates you're stoked for!
{% endblock %}

{% block content %}
<img src="{{ url_for('static', filename='images/pick_date_image.jpeg') }}">

<form action="/pick_date" method="post">
    <div class="checkbox-container">
        {% for date_id, info in date_ideas.items() %}
        <div class="checkbox-item">
            <input type="checkbox" name="date" value="{{ date_id }}" checked>
            <label>
                <a href="{{ url_for('date_page', date_id=date_id) }}">
                    {{ info.title }}
                </a>
            </label>
        </div>
        {% endfor %}
        <a href="{{ url_for('add_date') }}"><button>➕ Add new date</button></a>
    </div>
    
    <button type="submit" class="pick">Pick Date!</button>
</form>
{% endblock %}  